language: python
python:
  - "3.5"
# command to install dependencies
install:
  - pip install coveralls
  - pip install -r requirements.txt
# command to run tests
script:
  nosetests --with-coverage --cover-package=stacker
after_success:
  coveralls